@import 'reset.less';
@import 'grid.less';

body {
  font-family: "Helvetica Neue";
	background-color: #333;
  color: #999;
}
a {
  cursor: pointer;
}
div.bodywrap {
  padding: 10px 5px;
}
header#top {
	background-color: #000;
}
h1 {
	font-size: 2em;
	color: #fff;
	a {
		color: white;
		text-decoration: none;
	}
}
h2 {
	font-size: 1.5em;
	color: #666;
}
h3 {
  font-size: 1.25em;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}
h3.first {
  margin-top: 0;
}

div.dropzone {
  height: 170px;
}
div.dropzone > div {
  position: absolute;
  text-align: center;
  width: 200px;
  margin-top: 20px;
}
div.dropzone > div > img {
  border: 1px dashed #999;
  border-radius: 20px;
}
div.dropzone > div > p {
}
textarea.dropzone {
  opacity: 0;
  width: 100%;
  height: 100%;
}

label {
  /*
  padding: 0;
  padding-bottom: 0.5em;
  display: block;
  */
}
#one {
  select, input {
    width: 100%;
    box-sizing: border-box;
  }
}

.jobs > div {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  p.title {
    color: #fff;
    a.close {
      float: right;
      cursor: pointer;
    }
  }
  p.state {
    font-size: 70%;
  }
  div.progress-bar {
    background-color: #000;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    div {
      background-color: #666;
      width: 0%;
      height: 2px;
    }
  }
  div.output {
    font-family: monospace;
    font-size: 80%;
    height: 5em;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
    display: none;
  }
}
 


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
// set body width to cols*colwidth + (cols+1)*gutterwidth + 35
@columns: 13;
@column-width: 60;
@gutter-width: 10;

// Remove the definition below for a pixel-based layout
//@total-width: 100%;


////////////
// LAYOUT //
////////////

// header
header#top {
  margin-bottom: 1em;
}

// main column & sidebar
#one {
  .column(3);
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
#two {
  .column(10);
}
#console {
  .column(10);
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 80%;
  height: 15em;
  overflow-y: auto;
}

#preferences-icon {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  img {
    width: 100%;
  }
}

.preferences-box {
  padding: 20px 30px;
  h3 {
    margin-left: -10px;
  }
}
