/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  float: left;
}
body {
  font-family: "Helvetica Neue";
  background-color: #333;
  color: #999;
}
div.bodywrap {
  padding: 10px 5px;
}
header#top {
  background-color: #000;
}
h1 {
  font-size: 2em;
  color: #fff;
}
h1 a {
  color: white;
  text-decoration: none;
}
h2 {
  font-size: 1.5em;
  color: #666;
}
div.dropzone {
  height: 170px;
}
div.dropzone > div {
  position: absolute;
  text-align: center;
  width: 200px;
  margin-top: 20px;
}
div.dropzone > div > img {
  border: 1px dashed #999;
  border-radius: 20px;
}
textarea.dropzone {
  opacity: 0;
  width: 100%;
  height: 100%;
}
#one label {
  padding: 5px 0;
  display: block;
}
#one select, #one input {
  width: 100%;
  box-sizing: border-box;
}
.jobs > div {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.jobs > div p.title {
  color: #fff;
}
.jobs > div p.state {
  font-size: 70%;
}
.jobs > div div.progress-bar {
  background-color: #000;
  width: 100%;
  height: 2px;
  margin-top: 5px;
}
.jobs > div div.progress-bar div {
  background-color: #666;
  width: 0%;
  height: 2px;
}
.jobs > div div.output {
  font-family: monospace;
  font-size: 80%;
  height: 3em;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5px;
}
header#top {
  margin-bottom: 1em;
}
#one {
  display: inline;
  float: left;
  overflow: hidden;
  width: 200px;
  margin: 0 5px;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
#two {
  display: inline;
  float: left;
  overflow: hidden;
  width: 480px;
  margin: 0 5px;
}
