ol, ul {
  list-style: none;
}
a img {
  border: none;
}

html {
}
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

ul.encoder-list {
}
  ul.encoder-list .destroy {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(destroy.png) no-repeat 0 0;
  }
    ul.encoder-list li:hover .destroy {
      display: block;
    }
    ul.encoder-list .destroy:hover {
      background-position: 0 -20px;
    }
