<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		
    <title>Encloader</title>
		
    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="css/lessframework.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
	
    <script src="blackbirdjs/blackbird.js"></script>
    <link type="text/css" rel="stylesheet" href="blackbirdjs/blackbird.css" />
    
    <link type="text/css" rel="stylesheet" href="css/todos.css" />
    <script src="js/json2.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone-localstorage.js"></script>
    <script src="js/Jaml.js"></script>
    
    <script src="js/todos.js"></script>
  
  </head>
	
	<body lang="en">
		
    <h1><!--Encloader--></h1>

    <!-- Templates -->

    <script type="text/template" id="encoder-template">
      <div class="encoder">
        <div>
          <%= source %> /
          <%= name %>
        </div>
        <label>Add an uploader
          <select class="add-uploader">
          </select>
        </label>
        <ul class="uploader-list"></ul>
        <span class="destroy encoder"></span>
      </div>
    </script>
              
    <script type="text/template" id="encoder-list-template">
      <label>Add an encoder
        <select class="add-encoder">
        </select>
      </label>
      <ul class="encoder-list"></ul>
    </script>
              
  </body>

</html>
